<h1>Fonts</h1>

<p class="alert alert-info">
    Include the font through the mixins: <code>@include bold-font;</code>
</p>

<h2>Regular text <small>FONT NAME</small></h2><!-- @include regular-font -->
<p class="font-weight-normal">{{fox}}</p>

<h2>Medium text <small>FONT NAME</small></h2>
<p class="font-weight-medium">{{fox}}</p>

<h2>Bold text <small>FONT NAME</small></h2><!-- @include bold-font -->
<p class="font-weight-bold">{{fox}}</p>
