<h1>Input</h1>
<p class="lead">Text inputs are used for freeform data entry</p>

<h2>Text Input</h2>

<h3>Default</h3>
{{render '@input_text' }}

<h3>Required</h3>
{{render '@input_text--required' }}

<h3>Disabled</h3>
{{render '@input_text--disabled' }}

<h3>With Error State</h3>
{{render '@input_text--error' }}
