<h1>Space</h1>

<p>A great article by Nathan Curtis about how to design and document space in a design system:
    <a href="https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62">Space in Design Systems</a>
</p>
<p>An example is this:</p>
<p><img src="https://cdn-images-1.medium.com/max/800/1*-c4UabSTLW9fnz9OGwrP5Q.png" alt="A visual reference, akin to a cheatsheet, of spatial concepts" /></p>
