<h1>Confirmation</h1>
<p>Enter a password</p>

<form>
    <p><input type="password" name="password1"></p>
    <p><input type="password" name="password2"></p>
    <p><label for="accept-toc"><input id="accept-toc" type="checkbox"> I accept the terms and conditions</label></p>
    <button type="submit">Continue</button>
</form>
