<ul class="accordion">
    {{#each accordion }}
    <li class="accordion-item is-active">
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">{{ this.title }}</a>

        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content">
            {{this.content}}
        </div>
    </li>
    {{/each}}
</ul>
